<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fc5c1659-00ea-48d0-a07d-6540afe53c85" Alias="YouTube Picker" Level="1">
  <Info>
    <Name>YouTube Picker</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umbraco.Community.YouTubePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>