<?xml version="1.0" encoding="utf-8"?>
<Media Key="9044efa6-ee2a-4a84-9e73-388d7d601797" Alias="new folder name" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-03-11T18:20:04</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>