<?xml version="1.0" encoding="utf-8"?>
<Content Key="ddbbe366-4a0c-435e-a937-551545f0607e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-03-11T14:25:23</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="450c2166-0018-41e4-8687-c6a1dfbd6efc">home</Template>
  </Info>
  <Properties>
    <video>
      <Value><![CDATA[]]></Value>
    </video>
  </Properties>
</Content>