<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d17094b-d6f0-4a97-8155-1f359cc36b9c" Alias="IMG_7807.jpeg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG_7807jpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-16T16:50:32</CreateDate>
    <NodeName Default="IMG_7807.jpeg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ytbfd42z/img_7807.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>