<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b988207-e70b-4a3c-9bf3-25838ca680a1" Alias="IMG_7806.jpeg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG_7806jpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-16T16:50:32</CreateDate>
    <NodeName Default="IMG_7806.jpeg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rben3xlc/img_7806.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>