<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d66c057-e1c9-41a5-bd85-75624fb9cbf2" Alias="IMG_7803.jpeg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG_7803jpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-16T16:50:32</CreateDate>
    <NodeName Default="IMG_7803.jpeg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1afcao3a/img_7803.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>