<?xml version="1.0" encoding="utf-8"?>
<DataType Key="77baac4e-5bad-42f3-a8d4-f2497bf1c8e7" Alias="YouTube Picker" Level="1">
  <Info>
    <Name>YouTube Picker</Name>
    <EditorAlias>Umbraco.Community.YouTubePicker.DataEditor</EditorAlias>
    <EditorUIAlias>Umbraco.Community.YouTubePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "apiKey": "AIzaSyDthHySrLhZblqbggs3xvBBAOM2gzMbvk4",
  "channelId": "UCIB5XXHNAWWzTOw6guIMYCg",
  "modestbranding": true,
  "perPage": 500
}]]></Config>
</DataType>